
@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");

.App {
  margin:  auto;
  display: flex;
  flex-direction: column;
  font-family: 'Bangers', cursive;
  text-align: center;
}

.header {
  font-size: 1.7em;
  margin: 3% 10%;
}

button {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 30px;
  text-align: center;
}

.buttonBack {
  font-size: 12px;
}


